<div class="row">
	<div class="span7">
		<h4>Show Team</h4>
		</div>
	</div>
	<div class="row">
		<div class="span4">
		<%= image_tag("kris-and-vegas.jpg", class: "img-rounded") %>
	</div>
	<div class="span4">
		<%= image_tag("bree-and-marty.jpg", class: "img-rounded") %>
	</div>
	<div class="span4">
		<%= image_tag("lara-and-pilgrim.jpg", class: "img-rounded") %>
	</div>
	<div class="span4">
		<br>
		<%= image_tag("kinzee-and-joey.jpg", class: "img-rounded") %>
	</div>
	<div class="span4">
		<br>
		<%= image_tag("hank-and-sarah.jpg", class: "img-rounded") %>
	</div>
	<div class="span4">
		<br>
		<%= image_tag("bubbandzane.jpg", class: "img-rounded") %>
	</div>
	<div class="span4">
		<br>
		<%= image_tag("spanky-out-of-pine-interest.jpg", class: "img-rounded") %>
	</div>
	<div class="span4">
		<br>
		<%= image_tag("josh-and-vegas.jpg", class: "img-rounded") %>
	</div>

